body, html{
  height:100%;
}

html { 
  background: url(img/flower-field.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  margin: 0px;
  background-size: cover;
  font-size: 18px;
  cursor: crosshair;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addAnimal, .start {
  padding:5px 12px;
  float:right;
}
.score-text , .time-text {
  margin: 0;
  padding:5px 50px;
  float: left;
  color: red;
}
.time-text {
  padding-left: 200px;
  color: lightblue;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.animal{
  position:absolute;
}

.game-over {
  display: none;
  text-align: center;
  color: white;
}

.game-over h1{
  font-size: 70px;
}

.game-over h3{
  font-size: 50px;
}